/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */

html{
    font-family: "Pretendard", Pretendard, -apple-system, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: var(--font-size-pc,20px);
    font-weight: var(--font-medium);
}

.commonFrame{
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
strong{
    color: var(--main-color);
}
b{
    font-weight: var(--font-bold);
}
h2{
    font-size: 3rem;
    font-weight: var(--font-bold);
    line-height: 1.1;

}
h3{
    font-size: 1.1rem;
    font-weight: var(--font-bold);
    line-height: 1.4;
}
h4{
    font-size: 1rem;
    font-weight: var(--font-bold);
    line-height: 1.4;
}

p{
    font-weight: var(--font-medium);
    line-height: 1.4;
}


/* button */

.btn_common{
    /* 선택한 태그가 a태그 뿐만 아니라 span태그같은 다른 태그가 될 수도 있다 가정 */
    border: 1px solid var(--inActive-color);
    color: #000;
    padding: 0.4rem 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: .9rem;
    cursor: pointer;
}

.btn_common:hover{
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

.btn_common.big{
    padding: 0.75rem 3.5rem;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 0;
}
.btn_common.big.border{
    padding: 0.75rem 3.5rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 0;
}

.btn_common.big:hover{
    color: var(--sub-color);
    background-color: #153A0A;
    border: 1px solid #153A0A;
    
}
.btn_common.big.border:hover{
    color: var(--sub-color);
    background-color: transparent;
    /* border: 1px solid var(--sub-color); */
}


.btn_common:active{
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.btn_common.inactive{
    color: var(--inActive-color);
    border: 1px solid var(--inActive-color);
    pointer-events: none;
}
.btn_common.white{
    color: #fff;
    border: 1px solid #fff;
}
.btn_common.white:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
}
.btn_common.yes{
    color: #fff;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.btn_common.yes:hover{
    color: #333;
    background-color: var(--sub-color);
}


.enp{
    color: var(--point-color);
    font-weight: var(--font-thin);
}

input[type="checkbox"]{
    display: none;
}
label.checkbox{
    /* border: 1px solid var(--main-color); */
    /* width: 1rem; */
    /* height: 1rem; */
    /* inline-flex = flex컨테이너가 inline태그처럼 포함하는 컨텐츠 만큼의 너비를 갖게되는 형태 */
    display: inline-flex;
    gap: 0.5rem;
}
.custom_checkbox{
    border: 1px solid var(--main-color);
    background-color: #fff;
    display: block;
    width: 1rem;
    height: 1rem;
}
input[type="checkbox"]:checked+.custom_checkbox{
    background:#fff url("../img/icn_check.svg")no-repeat 50% 50% / 80% auto;
}

/* pagination */
.bbs_pagination{
    display: flex;
    justify-content: center;
    gap: var(--space-small);
    margin-bottom: var(--space-xlarge);
}
.bbs_pagination a{
    padding: 0.2rem 0.5rem;
}
.bbs_pagination a.on{
    color:var(--main-color);
    text-decoration: underline;
    font-weight: var(--font-bold);
}
input[type="submit"]{
    background-color: transparent;
}
input[type="reset"]{
    background-color: transparent;
}