.mo {display: none;}
.station2 {display: none!important;}

@media (max-width:1280px) {
    .mo {display: block;}

    html {font-size: var(--font-size-tab);}

    .pc {display: none;}
    
    .commonFrame{
        width: auto;
        margin: 0 1rem;
        /* border: 1px solid red; */
    }
    .commonFrame.sm_bottom{
        margin-bottom: var(--space-small);
    }
    .commonFrame.lm_bottom{
        margin-bottom: var(--space-large);
    }
    .commonFrame.station5{
        margin: 0 1rem;
    }
    .commonFrame.station6{
        margin: 0 1rem;
    }
    .commonFrame.station7{
        margin: 0 1rem;
    }
    /* .station5 figure{
        width: 100%;
        height: 20rem;
    } */
    .station6 figure{
        width: 100%;
        height: 20rem;
    }
    .station7 figure{
        width: 100%;
        height: 20rem;
    }

    .pt100{
        padding-top: 0;
    }

    .type1{
        margin-top: var(--space-large);
        margin-bottom: var(--space-large);
    }

    .header_mobile {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: rgb(255, 253, 240, 0.5);
        backdrop-filter: blur(5px);
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .header_mobile::before {
        content: "";
        width: 1.5rem;
        padding-left: 1.5rem;
    }

    .logo_mo {
        display: flex;
        align-items: center;
    }

    .logo_mo img {
        height: 4rem;
    }

    #btn_gnb {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        cursor: pointer;
    }

    #btn_gnb img {
        height: 1.5rem;
    }

    .hidden_gnb {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 0 1rem;
        box-sizing: border-box;
        background-color: #fff;
        transform: translateX(100%);
        /* transition: all 0.5s ease 0s; */
    }

    .hidden_gnb.on {
        transform: translateX(0%);
    }

    .hidden_gnb_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    .hidden_gnb_top::before {
        content: "";
        width: 1.5rem;
        padding-right: 1.5rem;
        /* border: 1px solid red; */
    }

    #btn_close_gnb {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.5rem;
        cursor: pointer;
    }

    #btn_close_gnb img {
        height: 1.5rem;
    }

    .gnb_mo_wrap {
        margin: var(--space-middle) 0;
        height: calc(100vh - 14rem);
        overflow: auto;
        min-height: 15rem;
    }

    .hidden_gnb_bottom {
        /* background-color: #ddd; */
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sns {
        display: flex;
        gap: var(--space-small);
    }

    .sns img {
        height: 1.5rem;
    }

    /* .sns>li{
        
    } */

    /* gnb_mo */
    .gnb_mo a {
        display: flex;
        height: 2.5rem;
        align-items: center;
        padding-left: 1rem;
        box-sizing: border-box;

    }

    .gnb_mo>li {
        border-bottom: 1px solid var(--inActive-color);
        position: relative;
    }

    .gnb_mo>li::after {
        content: "";
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 0.5rem;
        height: 0.5rem;
        background: url("../img/icn_detail.svg") no-repeat 50% 50% / contain;
        transform: rotate(180deg);
        transition: all .4s ease 0s;
    }

    .gnb_mo>li:hover:after {
        transform: rotate(0deg);
    }

    .gnb_mo ul {
        padding: 0 1.5rem;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: all .4s ease 0s;
    }

    .gnb_mo ul a {
        background-color: var(--sub-color);
        border-bottom: 1px solid #fff;
    }

    .gnb_mo>li:hover ul {
        height: 12.5rem;
    }

    figure.mo{
        display: none;
    }
    figure.pc{
        display: block;
    }
    .type1{
        gap: 3rem;
    }
    .commonFrame.desc1{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .commonFrame.desc6{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
    }
    .support .commonFrame.desc1{
        flex-direction: row;
        text-align: left;
        align-items: start;

    }
    .commonFrame.title1{
        text-align: center;
    }
    .desc1 figure{
        width: 50%;
    }

    .pt100{
        margin-top: 7rem;
    }
    .commonFrame.title1{
        text-align: center;
    }
    .desc2 figure{
        width: 50%;
    }

    .commonFrame.desc2{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    .commonFrame.fade_txt{
        text-align: center;
    }
    .station3>.train li>img{
        max-width: 80%;
    }

    .station3{
        width: 100%;
    }
    .station4{
        width: auto;
        height:auto;
    }
    .bg::before{
        content: "";
        position: absolute;
        bottom: -2rem; left: 0;
        height: 30rem;
        z-index: -50;
    }

    .commonFrame.fade{
        margin-top: var(--space-middle);
        margin-bottom: var(--space-middle);
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap: 1rem;
    }

    .commonFrame.desc3 br{
        display: none;
    }
    .commonFrame.desc3{
        gap: 1rem;    
    }

    .commonFrame.optionbar{
        margin: var(--space-middle) 1rem;
    }
    .commonFrame.notice_form{
        margin-bottom: var(--space-small);
    }
    .commonFrame.bbs_pagination{
        margin-bottom: var(--space-xlarge);
    }
    .commonFrame.form_submit{
        margin-bottom: var(--space-xlarge);
    }

    /* list-view 상세페이지 */
    .commonFrame.large_margin{
        margin: var(--space-large) 1rem;
    }
    .txt>p{
        margin-bottom: var(--space-small);
    }

}
@media (max-width:1024px) {
    /* .station1{
        transform: translateY(4rem);
    } */

    figure.mo{
        display: none;
    }
    figure.pc{
        display: block;
    }

}

@media (max-width:768px) {
    html {font-size: var(--font-size-mobile);}

    .station1 {display: none!important;}
    .station2 {
        display: block!important;
        width: 100%;
        height: auto;

    }
    .station2 img{
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }

    .station2 .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
        background: #ccc;
        opacity: .5;
    }
    
    .station2 .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--main-color);
    }

    /* coffee story */
    .type1{
        flex-direction: column;
        text-align: center;
    }
    .type1 figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    figure.mo{
        display: block;
    }
    figure.pc{
        display: none;
    }

    .desc1 figure{
        width: 100%;
    }
    .commonFrame .txt{
        margin: 0;
        padding-top: 0;
    }
    .desc2 figure{
        width: 100%;
    }
    .train li img{
        width: 100%;
        object-fit: cover;
    }
    .station3{
        width: auto;
    }
    .station4{
        width: auto;
    }
    .station4 .train{
        width: auto;
    }
    .station3>.train li>img{
        max-width: 100%;
    }


    .commonFrame br{
        display:none;
    }

    /* footer */
    footer .commonFrame{
        flex-direction: column-reverse;
        gap: var(--space-small);
        align-items: center;
    }
    .foot2{
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-small);
    }
    .foot_sns{
        /* border: 1px solid lime; */
        justify-content: center;
    }
    .foot_menu{
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 var(--space-small);
    }
    .info{
        justify-content: center;
    }
    .copy{
        text-align: center;
        
    }

    .support .commonFrame.desc1{
        flex-direction: column;
        text-align: center;
        align-items: start;
    }
    .desc1_right{
        flex-direction: row;
        margin-bottom: var(--space-large);
    }
    .desc1_right>img{
        /* flex: 1; */
        gap: 0;
        height: 10rem;
    }

    .commonFrame.desc3{
        flex-direction: column;
        gap: 1rem;
    }
    .commonFrame.desc3 figure{
        height: 20rem;
        flex-grow: 0;
        flex-basis: auto;
    }
    .commonFrame.desc3 figure.transfer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 40%;
    }
    .station5 figure{
        width: 100%;
        height: 50rem;
    }
    .station6 figure{
        width: 100%;
        height: 50rem;
    }
    .station7 figure{
        width: 100%;
        height: 50rem;
    }

    /* 공지사항단 */
    .list_table tr th:nth-of-type(2){
        display: none;
    }
    .list_table tr th:nth-of-type(4){
        display: none;
    }
    .list_table tr td:nth-of-type(2){
        display: none;
    }
    .list_table tr td:nth-of-type(4){
        display: none;
    }
    .list_table tr td:nth-of-type(3){
        text-align: center;
    }
    .list_table th:last-of-type{
        width: 30%;
    }
    .list_table th:nth-of-type(3){
        width: 65%;
    }

    .list_table th:nth-of-type(1){
        width: 5%;
    }
    .commonFrame.desc6{
        flex-direction: column-reverse;
        /* gap: 1rem; */
    }
    .commonFrame.desc6 figure{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        overflow: hidden;
    }
    .commonFrame.desc6 figure>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
@media (max-width:415px){
    .direct>a:nth-of-type(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

@media (max-width:333px){
    .hidden_gnb_bottom{
        flex-direction: column-reverse;
    }

}

@media (max-width:300px){
    .commonFrame.optionbar{
        flex-direction: column;
        gap: 1rem;
    }
    .list_table th:last-of-type{
        display: none;
    }
    .list_table td:last-of-type{
        display: none;
    }
    .list_table th:nth-of-type(3){
        width: 70%;
    }

    .list_table th:nth-of-type(1){
        width: 10%;
    }


}