/* 스크롤바 */
/* 전체 스크롤바 */
::-webkit-scrollbar {
    width: 0.6rem; /* 스크롤바의 너비 */
    height: 0.6rem; /* 가로 스크롤바의 높이 */
}

/* 스크롤바의 트랙 */
::-webkit-scrollbar-track {
    background: #ddd; /* 트랙 배경 색상 */
    border-radius: 0.5rem; 
    /* 트랙 모서리 둥글게 */
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
    background: var(--main-color); /* 핸들 색상 */
    border-radius: 10.5rem; /* 핸들 모서리 둥글게 */
}

/* 핸들 호버 시 색상 변경 */
::-webkit-scrollbar-thumb:hover {
    background: var(--sub-color); /* 핸들 호버 색상 */
}

/* 가로 스크롤바의 핸들 */
::-webkit-scrollbar-thumb:horizontal {
    background: var(--main-color); /* 가로 핸들 색상 */
}
body::-webkit-scrollbar {
    display: none; 
    /* Webkit 기반 브라우저에서 스크롤바 숨기기 */
}