header{
    overflow: hidden;
    height: 5em;
    background-color: rgb(255, 253, 240, 0.5);
    /* border-bottom: 2px solid var(--main-color); */
    backdrop-filter: blur(5px);
    color: var(--light-color);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    /* transition: all 0.5s ease 0s; */
    z-index: 1000;
}
header:hover{
    height: 24rem;
    box-shadow: 0px 2px 10px rgba(150, 150, 150, 0.5);
    background-color: #fff;

}
header::before{
    content: "";
    position: absolute;
    /* border-bottom: 2px solid var(--main-color); */
    width: 100%;
    height: .2rem;
    left: 0;
    top: 4.8rem;
    background-color: var(--main-color);
    z-index: -1;
}
header .commonFrame{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
/* .logo{
    border: 1px solid yellow;
} */

main{
    margin-top: 5rem;
    /* margin-bottom: var(--space-large); */
}

.logo a{
    display: block;
}
.logo a img{
    height: 5rem;
}
.gnb{
    /* border: 1px solid aqua; */
    display: flex;
    color: var(--dark-color);
    /* color: var(--dark-color); */

}
.gnb>li{
    /* border: 1px solid blue; */
    margin-right: var(--space-middle);
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.gnb>li>a{
    /* border: 1px solid lime; */
    display: flex;
    height: 5rem;
    align-items: center;
    font-weight: var(--font-bold);
}
.gnb>li>a:hover{
    text-decoration: underline;
    color: var(--main-color);
}
.gnb>li>ul{
    margin-top: var(--space-small);
    color: var(--dark-color);
}
.gnb>li>ul>li>a{
    /* border: 1px solid gray; */
    display: flex;
    height: 3rem;
    align-items: center;
}
.gnb>li>ul>li>a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

/* station swiper */
.station1{
    width: 100%;
    height: auto;
}
/* .station1 img{
    height: 100%;
    object-fit: cover;
} */

.station1>.train>.swiper-pagination .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 1rem;
}

.station1 .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #ccc;
    opacity: .5;
}

.station1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}

    /* coffee story */

.type1{
    margin-top: var(--space-large);
    margin-bottom:  var(--space-large);
    display: flex;
    gap: 5rem;
}
.type1>section{
    flex: 1;
}
.type1>figure{
    flex: 1;
}
.type1>figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pt100{
    padding-top: 5rem;
}
.pt100>div{
    margin-bottom: var(--space-middle);
}

.type1 h2{
    margin-bottom: var(--space-middle);
    word-break: keep-all;    
}

.type1 h3{
    margin-bottom: var(--space-small);
}
.type1 p{
    margin: var(--space-small) 0;
}

.title1{
    margin-top: var(--space-large);
}

.title2{
    text-align: center;
}
.title1 h2{
    margin-bottom: var(--space-small);
}
.title2 h2{
    margin-bottom: var(--space-small);
}
.title3{
    text-align: center;
    position: relative;
}
.title3::after{
    content: "";
    position: absolute;
    left: calc(50% - 1rem);
    top: 4rem;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--main-color);
}

.title3 h2{
    margin-bottom: var(--space-middle);
}

.title4{
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
}
.title4::after{
    content: "";
    position: absolute;
    width: .2rem;
    height: 2rem;
    left: calc(50% - 0.1rem);
    bottom: 0;
    background-color: var(--main-color);
}

.title4

.title4 h2{
    margin-bottom: var(--space-small);
}

/* 시그니처 메뉴단 */



/* desc1 */
.commonFrame.desc1{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap:4rem;
}
.commonFrame.desc1>*{
    flex: 1;
}
.txt{
    /* border: 1px solid red; */
    padding-top: var(--space-middle);
}
.txt h3{
    margin-bottom: var(--space-small);
}
.txt p{
    margin: var(--space-small) 0;
}
.txt>h2>span{
    display: block;
}

/* desc2 */
.commonFrame.desc2{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap:4rem;
    flex-direction: row-reverse;
}
.commonFrame.desc2>*{
    flex: 1;
}

.bg{
    position: relative;
}
.bg::before{
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 16rem;
    background-color: var(--light-color);
}

.commonFrame.fade{
    display: flex;
    margin-top: var(--space-large);
    margin-bottom: var(--space-large);
    gap: 4rem;
    align-items: flex-end;
}
.commonFrame.fade>*{
    flex: 1;
}
.fade_txt h3{
    margin-bottom: var(--space-middle);
}
.fade_txt p{
    margin: var(--space-small) 0;
}

/* station */
.station4{
    pointer-events: none!important;
    /* border: 1px solid red; */
    height: 13rem;
    box-sizing: border-box;
    
    
}

/* 창업안내 */
.outerFrame{
    padding: var(--space-large) 0;
    color: #fff;
    text-align: center;
    background: rgba(31, 24, 19, 0.9) url(../img/back-100.jpg) no-repeat 50% 50% / cover;
    background-blend-mode: overlay;
}
.bg .commonFrame>*{
    margin: var(--space-small);
}
.outerFrame .commonFrame>p{
    margin-bottom: var(--space-middle);
    margin-top: var(--space-small);
}

.direct>a:nth-of-type(1){
    margin-right: 1rem;
}
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: var(--space-middle);
    padding-bottom: var(--space-xlarge);
}
footer .commonFrame{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.info{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 0 var(--space-small);
    flex-wrap: wrap;
    opacity: 0.8;
}
.copy{
    opacity: 0.8;
}
.foot_menu{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-small);
}

.foot_sns{
    display: flex;
    gap: var(--space-small);
    justify-content: center;
}

.foot_sns img{
    height: 1.5rem;
}
.foot_logo img{
    height: 6.5rem;
}

/* 커피이야기 main */

.ml.commonFrame{
    margin-top: var(--space-xlarge);
    padding-top: var(--space-xlarge);
    margin-bottom: var(--space-large);
}
.txt>h2>img{
    height: 4.5rem;
}
.commonFrame.desc3{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.commonFrame.desc3 .txt{
    flex: 6;
}
.commonFrame.desc3 figure{
    flex: 5;
    /* border: 1px solid red; */
}
.commonFrame.desc3 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 60%;
}
.commonFrame.station5{
    padding-bottom: var(--space-large);
}

.station5 li>*{
    margin-bottom: var(--space-small);
}
.station5 li>*:last-child{
    margin-bottom: 0;
}
.station5 strong{
    display: block;
}
.station5 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.station5 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}
.station5 figure{
    width: 100%;
    height: 15rem;
}

/* station6 */
.commonFrame.station6{
    padding-bottom: var(--space-large);
}

.station6 li>*{
    margin-bottom: var(--space-small);
}
.station6 li>*:last-child{
    margin-bottom: 0;
}
.station6 strong{
    display: block;
}
.station6 figure{
    width: 100%;
    height: 15rem;
}
.station6 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.station6 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}

.desc3 .big{
    font-weight: bold;
    font-size: 1.1rem;
}

/* station7 */
.commonFrame.station7{
    padding-bottom: var(--space-large);
}

.station7 li>*{
    margin-bottom: var(--space-small);
}
.station7 li>*:last-child{
    margin-bottom: 0;
}
.station7 strong{
    display: block;
}
.station7 figure{
    width: 100%;
    height: 15rem;
}
.station7 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.station7 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}

/* sub_banner */
.sub_banner{
    /* border: 1px solid red; */
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}
.sub1{
    background:
    linear-gradient(0deg,var(--dark-color),rgba(0, 0, 0, 0.2)),
    url("../img/sub_ban1.jpg") no-repeat 50% 50% / cover;
    background-blend-mode: multiply;
}
.sub2{
    background:
    linear-gradient(0deg,var(--dark-color),rgba(0, 0, 0, 0.2)),
    url("../img/sub_ban2.jpg") no-repeat 50% 20% / cover;
    background-blend-mode: multiply;
}
.ban_txt p{
    margin-top: var(--space-small);
}

/* 공지사항 */

.optionbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-middle) auto;
}

/* admin */
.option_admin{
    display: none;
}
.admin .option_admin{
    display: flex;
}
.cell_admin{
    display: none;
}
.admin .cell_admin{
    display: table-cell;
}


.notice_form{
    /* border: 1px solid lime; */
    margin-bottom: var(--space-small);
}
.list_table{
    table-layout: fixed;
    width: 100%;

}

.list_table th{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 1rem 0;
}
.list_table th:last-of-type{
    width: 15%;
}
.list_table th:nth-of-type(4){
    width: 15%;
}
.list_table th:nth-of-type(3){
    width: 55%;
}
.list_table th:nth-of-type(2){
    width: 7.5%;
}
.list_table th:nth-of-type(1){
    width: 7.5%;
}
.list_table td{
    border-bottom: 1px solid rgb(51, 51, 51, 0.5);
    text-align: center;
    padding: 0.9rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_table td a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_table td:nth-of-type(3){
    text-align: left;
    padding-left: 1rem;
}

.fixed_notice{
    background-color: rgba(186, 219, 175, 0.5);
    color: var(--main-color);
}
.fixed_notice a{
    font-weight: var(--font-bold);
}



.form_title label{
    display: none;
}
.form_title{
    border-bottom: 1px solid #333;
    margin-bottom: var(--space-small);
}
.form_title input{
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: .4rem 0.5rem;
    border: none;
}
.form_title input::placeholder{
    color: var(--inActive-color);
    font-weight: var(font-medium);
}
.form_desc label{
    display: none;
}
.form_desc{
    margin-bottom: var(--space-small);
    border-bottom: 1px solid #333;
}
textarea{
    font-size: .9rem;
}
.form_desc textarea{
    width: 100%;
    padding: .4rem .5rem;
    box-sizing: border-box;
    resize: none;
    height: 20rem;
    border: none;
}
.form_desc textarea::placeholder{
    color: var(--inActive-color);
    font-weight: var(font-medium);
}

.form_submit{
    margin-bottom: var(--space-xlarge);
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

/* 팝업 */
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.75);
    /* display: none; */
    opacity: 0;
    /* transition: all .4s ease 0s; */
    pointer-events: none;
}
.modal.on{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}
.popups{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 60%;
    text-align: center;
    /* display: none; */
    opacity: 0;
    /* transition: all .4s ease 0s; */
    pointer-events: none;
}
.popups.on{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}
.popup_title{
    margin-bottom: var(--space-small);
}

/* list_view 상세페이지 */
.large_margin{
    margin: var(--space-large) auto;
}
.view_info{
    display: flex;
    gap: var(--space-small);
}
.button_list{
    gap: var(--space-small); 
}
.button_list img{
    height: 1.2rem;
    object-fit: contain;
}
.border_bottom{
    border-bottom: 1px solid #333;
    padding: .5rem;
}
.view_txt{
    padding: .5rem;
    min-height: 35rem;
    margin-bottom: var(--space-small);
}
.lm_bottom{
    margin-bottom: var(--space-large);
}

/* fixed menu */
.fixed_menu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;
    transform: translateY(150%);
    /* transition: all .6s ease 0s; */
}
.fixed_menu.on{
    transform: translateY(0%);
}
.fixed_menu li{
    margin: .5rem 0;
}
.fixed_menu img{
    height: 1.1rem;
    object-fit: contain;
}
.fixed_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--main-color);
    border-radius: 50%;
}
.title_intro{
    text-align: center;
    margin-top:var(--space-xlarge)!important;
    margin-bottom:var(--space-large)!important;
}

.intro .title_intro{
    text-align: left;
}
.intro .commonFrame.desc1{
    align-items: center;
    gap: 3rem;
    margin-bottom: var(--space-xlarge);
}

.intro .commonFrame.desc1>figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .commonFrame.desc1 .brnad_logo{
    height: 9.5rem;
}

.desc1_left>*{
    margin-bottom: var(--space-small);
}
.intro .commonFrame.desc2{
    align-items: flex-end;
    gap: 3rem;
    margin-bottom: var(--space-xlarge);
}

.intro .commonFrame.desc2>figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .commonFrame.desc2 .brnad_logo{
    height: 9.5rem;
}

.desc2_left>*{
    margin-bottom: var(--space-small);
}

/* 브랜드 지원 */


.support .commonFrame.desc1{
    align-items: flex-end;
}

.commonFrame.desc1>*.fr15{
    flex: 1.5;
}

.txt p:last-child{
    margin-bottom: 0;
}

.desc1_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.desc5 .txt{
    text-align: center;
    margin-bottom:var(--space-middle);
}
.desc5 .txt>*{
    margin-bottom:var(--space-middle);
}
.desc5 .txt>*:last-child{
    margin-bottom:0;
}
.desc5 figure ul{
    display: flex;
    gap: 1rem;
}
.desc5 figure li{
    flex:1;
}
/* .desc5 figure li img{
    width:100%;
    height:100%;
    object-fit: cover;
} */

.desc5>img{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.desc1_right{
    width: 26rem;
    height: 46rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    object-fit: cover;
    overflow: hidden;
}

.desc6{
    display: flex;
    gap: 1rem;
    margin-bottom: var(--space-xlarge);
    margin-top: var(--space-large);

}
.desc6>figure{
    width: 15rem;
    object-fit: cover;

}
.desc6>figure>img{
    height: 100%;
    object-fit: cover;

}
.desc6 .txt>*{
    margin-bottom: var(--space-middle);
}
.desc6 .txt>*:last-child{
    margin-bottom: 0;
}

.desc6>.fr15{
    flex: 1.5;
}

.pairing_img>ul{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 0;
}
.pairing_img img{
    object-fit: cover;
    width: 100%;
}
.pairing_img>ul{
    object-fit: cover;
    overflow: hidden;
}
.pairing_img>ul>li{
    flex: 2;
}

